<section class="container-fluid bg-light">
    <div class="container pt-10 pb-10">
        <h2 class="text-center text-bold">FREQUENTLY ASKED QUESTIONS</h2>
        <div class="mt-10">
            <div class="question">Do I need to pay some additional fee per domain, or per user, etc.?</div>
            <div class="answer">
                <p>No. The license price is final, no additional fees. Once you purchased the EasyQuery you may use it in any number of your projects for any number of end users or site visitors. There are NO deployment limitations.</p>
                <p>We provide annual subscriptions for our products to give you access to the latest releases and support.</p>
            </div>

            <div class="question">What forms of payment do you accept?</div>
            <div class="answer">
                <p>We accept payment via credit card, check, paypal, wire transfer and some others. You can select the acceptable payment method on the order form.</p>
            </div>

            <div class="question">How can I get a quote?</div>
            <div class="answer">
                <p>Click the appropriate "Buy Now" button in the table above to open the order page. At the end of that page you will find "Get Quote" button. Fill out the form and press this button to get a quote.</p>
            </div>

            <div class="question">What is subscription?</div>
            <div class="answer">
                <p>The subscription is annual fee we take to give you access to the latest releases and support. Valid subscription allows you to download a new versions of the Product. When the new version is released you don't need to pay for upgrade - just download it from our Members Area.</p>
                <p><strong>The first year subscription is included to the license price.</strong></p>
                <p>With expired subscription you will no longer have access to new releases and support. You will be able to renew the expired subscription (so called "welcome back"), but it will cost you more than twice as much.</p>
            </div>

            <div class="question">How much does the subscription cost? How can I purchase it?</div>
            <div class="answer">
                <p>The 1-year subscription renewal costs about 25% of license price for those who renew the subscription in time - before the expiration date. And there is a "welcome back" price - about 70% - for those who are late.</p>
                <p> To purchase the subscription go to <a href="/account">your account page</a>, sign in, find "Licenses" panel and click the "Renew" link on the right of selected license.</p>
                <p>To get the lower price the renewal should be done before the subscription expiration date. You can find the expiration date on the Licenses page of our Members Area. We also will remind you several times by e-mail.</p>
            </div>

            <div class="question">Can I continue using EasyQuery when my subscription expires?</div>
            <div class="answer">
                <p>Yes you can. Your EasyQuery license is perpetual. However, you will be using the last product version released before your subscription expired.</p>
                <p>If you choose not to renew your subscription, you will no longer have access to new releases and support, and we will be very sad.</p>
            </div>

            <div class="question">How do the licenses work?</div>
            <div class="answer">
                <p>Your license is tied to your Korzh.com account.</p>
                <p>To get the full (registered) copy of EasyQuery simply log into <a href="/account">your account page</a> and download the latest version of the product.</p>
            </div>

            <div class="question">What about support?</div>
            <div class="answer">
                <p>We offer sterling support online in order to make you succeed. You may initiate a support ticket on <a href="/support">this page</a>.</p>
            </div>

            <div class="question">Do you have money-back guarantee?</div>
            <div class="answer">
                <p>We provide the full-featured Community edition for free. We hope that you tried to use it during some time to make an informed decision when purchasing the product.</p>
                <p>Unfortunately, we can not give money-back guarantee on Company license. So, please be attentive - <strong>the Company license is non-refundable!</strong></p>
            </div>

            <div class="question">We are resellers. Do you have any special offers for resellers?</div>
            <div class="answer">
                <p> Yes, we have. Go to <a href="/resellers">reseller's FAQ</a> for details</p>
            </div>
        </div>
    </div>
</section>
